* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #171717;
    color: white;
    transition: margin-left 0.4s ease-out;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    flex-direction: column;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#sidebar-toggle {
    display: none;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    left: -250px;
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: left 0.4s ease-out;
}

.sidebar h2 {
    margin-bottom: 20px;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.4s;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.content {
    margin-left: 20px;
    padding: 20px;
    font-size: 30px;
    transition: margin-left 0.4s ease-out;
    margin-top: 40px;
    flex: 1;
}

.popis {
    font-size: 20px;
    padding: 10px;
    margin-right: 1000px;
    margin-top: 40px;
    font-family: 'Roboto';
    font-size: 22px;
    color: #94a3b8;

}

.sidebar-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 35px;
    cursor: pointer;
    transition: left 0.4s ease-out;
}

.sidebar-icon div {
    width: 35px;
    height: 5px;
    background-color: #333;
    border-radius: 3px;
    transition: all 0.3s ease;
}

#sidebar-toggle:checked + .sidebar-icon div:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#sidebar-toggle:checked + .sidebar-icon div:nth-child(2) {
    opacity: 0;
}

#sidebar-toggle:checked + .sidebar-icon div:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

#sidebar-toggle:checked ~ .sidebar {
    left: 0;
}

#sidebar-toggle:checked + .sidebar-icon {
    left: 270px;
}

#sidebar-toggle:not(:checked) + .sidebar-icon {
    left: 20px;
}

#sidebar-toggle:checked ~ .content  {
    margin-left: 270px;
}

#sidebar-toggle:checked ~ .footer {
    margin-left: 270px; 
}


.content {
    text-align: center;
    width: 100%;
}

.content h2 {
    padding: 20px;
    margin-bottom: 20px;
}

.content p {
    font-size: 20px;
    padding: 10px;
    margin: 15px;
    font-family: 'Roboto';
    font-size: 22px;
    color: #94a3b8;

}


.living  {

    font-size: 30px;
    margin-bottom: 20px;
}

.zajmy  {

    font-size: 30px;
    margin-bottom: 20px;
}

.uspechy  {

    font-size: 30px;
    margin-bottom: 20px;
}

.images {
    width: 50%;
    transition:  0.3s ease-in-out;
    cursor: pointer;
    transform: scale(1);
    position: relative;
    z-index: 1;
}

.cile  {

    font-size: 30px;
    margin-bottom: 20px;
}

.hypertext {
    font-weight: bolder;
    cursor: pointer;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.zavody-1 {
    display: block;
    margin-top: 10px;
}

.zavody-2 {
    display: block;
}

.zavody-3 {
    display: block;
    margin-bottom: 10px;
}

.projekty {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.projekt {
    text-align: center;
    margin: auto;
    width: 100%;
}

.projekt img {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-width: 2px;
    border-style: solid;
    border-color: #94a3b8;
    display: block;
    margin-left: auto;
  margin-right: auto;
}

.projekt h3 {
    margin: 10px 0 5px;
    width: 100%;
}

.projekt p {
width: 100%;
margin: 10px;
padding: 0;
text-align: center;
color: #94a3b8;
font-family: 'Roboto';
}

.images {
    width: 50%;
    transition:  0.3s ease-in-out;
    cursor: pointer;
    transform: scale(1);
    position: relative;
    z-index: 1;
}

.images:active {
    transform: scale(1.5);
    z-index: 10;
    transition: transform 0.3s ease-in-out, z-index 0s;
}


.unity-btn {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 32px;
        padding: 14px 24px;
        border: 0;
        border-radius: 10px;
        font-family: 'Poppins', 'sans-serif';
        text-align: start;
        transition: 0.3s ease-in;
        background: rgba(17, 17, 17);
        box-shadow: #292929 -3px 3px 0;
        transition: 0.3s ease-in;
        display: inline-block;
}

    
.unity-btn:hover {
    box-shadow: rgba(17, 17, 17) -15px 15px 0;
    background: rgb(36, 36, 36);
    transition: 0.3s ease-in;
}

.unity-btn i {
    margin-right: 10px;
    font-size: 32px;
    vertical-align: middle;
}

.social-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    padding: 14px 24px;
    border: 0;
    border-radius: 10px;
    font-family: 'Poppins', 'sans-serif';
    text-align: start;
    transition: 0.3s ease-in;
    background: rgba(17, 17, 17);
    box-shadow: #292929 -3px 3px 0;
    transition: 0.3s ease-in;
    display: inline-block;
    margin-top: 400px;
    margin-right: 50px;
}


.social-btn:hover {
box-shadow: rgba(17, 17, 17) -15px 15px 0;
background: rgb(36, 36, 36);
transition: 0.3s ease-in;
}

.social-btn i {
margin-right: 10px;
font-size: 32px;
vertical-align: middle;
}


.footer {
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    transition: margin-left 0.4s ease-out;
    margin-left: 20px;
}

.footer .social-icons {
    margin: 10px 0;
}

.footer .social-icons a {
    color: #94a3b8;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
    text-decoration: none;
}

.footer .social-icons a:hover {
    color: #fff;
}

.footer p {
    margin: 10px 0 0 0;
}

.footer small {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #94a3b8;
}

.zlata {
    color: gold;

}

.bronze {
    color:  rgb(179, 96, 3);
}

.rainbw-gradient {
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue {
    color:#26c6da;
}

.green {
    color: rgb(8, 201, 8);
}

.red {
    color: red;
}

.purple {
    color: blueviolet;
}
